<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    <h1>Register</h1>
    @* Form To Register *@
     @model User
     <form asp-action="Register" asp-controller="Home" method="post">
        @* FirstName input *@
        <span asp-validation-for="FirstName"></span>
        <label asp-for="FirstName">First Name:</label>
        <input type="text" asp-for="FirstName" id="">
        <br>
        <br>
        @* LastName input *@
        <span asp-validation-for="LastName"></span>
        <label asp-for="LastName">Last Name:</label>
        <input type="text" asp-for="LastName"></input>
        <br>
        @* Email input *@
        <span asp-validation-for="Email"></span>
        <label asp-for="Email">Email:</label>
        <input type="email" asp-for="Email"></input>
        <br>
        @* Password input *@
        <span asp-validation-for="Password"></span>
        <label asp-for="Password">Password:</label>
        <input type="password" asp-for="Password"></input>
        <br>
        @* Confirm input *@
        <span asp-validation-for="Confirm"></span>
        <label asp-for="Confirm">Confirm Password:</label>
        <input type="password" asp-for="Confirm"></input>
        <br>

        <button type="submit">Sign up Now</button>
        <span>Got an account?</span>
         <a href="Login">Log In</a>
       
    </form>

</div>
    </div>
</body>
</html>